/* Media Query for desktop (larger than 1200px) */
@media only screen and (min-width: 1200px) {
  /* Navbar larger display */
  .navList ul {
    gap: 50px;
  }

  #home h1 {
    font-size: 4.5rem; /* Adjusted font size for large screens */
  }

  .btn {
    padding: 15px 40px;
    font-size: 1.8rem;
  }

  /* About Section */
  #about .about {
    gap: 100px; /* Ensuring more space between text and image */
  }

  .projectItem {
    flex-direction: row; /* Display projects side by side on larger screens */
    justify-content: space-between;
    gap: 50px; /* Adding space between project items */
  }

  .projectImg img {
    width: 50%;
    height: auto;
  }

  /* Contact Section */
  #contact .contact {
    padding: 100px 20px;
    text-align: left; /* Aligning text to the left on larger screens */
  }

  #footer {
    padding: 20px 0;
    font-size: 1.2rem;
  }
}
