/* Media Query for larger screens (above 1200px) */
@media only screen and (min-width: 1200px) {
  /* Navbar larger display */
  .navList ul {
    gap: 50px;
  }

  #home h1 {
    font-size: 4.5rem;
  }

  .btn {
    padding: 15px 40px;
    font-size: 1.8rem;
  }

  #about .about {
    gap: 100px;
  }

  .projectItem {
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }

  .projectImg img {
    width: 50%;
    height: auto;
  }

  #footer {
    padding: 20px 0;
    font-size: 1.2rem;
  }
}
